.container {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    min-width: calc(100% - 16px * 2);
}

/* Small */
@media (min-width: 768px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
        min-width: calc(100% - 16px * 2);
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
        padding-left: 24px;
        padding-right: 24px;
        min-width: calc(100% - 24px * 2);
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
        padding-left: 32px;
        padding-right: 32px;
        min-width: calc(100% - 32px * 2);
    }
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.main_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.btn {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .45rem;
    cursor: pointer;
    transition: .3s;

    &.main_btn {
        background-color: var(--main_color);
        color: #fff;

        &:hover {
            background-color: var(--main_color_dark);
        }
    }

    &.light_btn {
        background-color: transparent;
        color: #777;

        &:hover {
            background-color: #0000001b;
        }
    }
}

.main_link {
    color: #777;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    transition: .3s;

    &:hover {
        color: var(--main_color);
    }
}

.main_input {
    border: 1px solid #e0e0e0;
    border-radius: .45rem;
    padding: 10px 16px;
    font-size: 16px;
    width: 100%;
    transition: .3s;

    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

.underline {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}