.menu_btn {
    display: none;

    mat-icon {
        font-size: 24px;
        margin: 0;
    }

    @media (max-width: 768px) {
        display: block;
    }
}

.hidden_menu {
    @media (max-width: 768px) {
        display: none;
    }
}